body
{
	background-color : #eee9e9 ;
}

.p1
{
	font-family : Monotype Corsiva ;
}

#menu
{
	list-style-type : none ;
	
}

#menu li
{
	float : left ;
}



.a_menu:link, .a_menu:visited, .a_menu:active
{
	width : 200px ;
	display:block ;
	background-color : #87bf21 ;
	text-decoration : none ;
	text-align : center ;
	color : #ffffff ;
	border-style : solid ;
	border-width : 1px ;
	border-color : #000000 ;
}

.a_menu:hover
{
	background-color : #87dd21 ;
}

h1
{
	font-family : "Times New Roman" ;
	font-size : 40px ;
	color : orange ;
}

h2
{
	font-family : "Arial Black" ;
	font-size : 30px ;
	color : #580000 ;
}

span
{
	font-family : "Times New Roman" ;
	font-size : 40px ;
	color : black ;
}

#div2
{
	text-align : left ;
	font-weight : bold ;
	width : 50% ;
	float : left ;
	height : 50px ;
}

#div3
{
	width : 50% ;
	text-align : right ;
	float : right ;
	height : 50px ;
}
#mosc
{
	text-align : center ;
}

.button_like, .button_like:link, .button_like:visited, .button_like:active
{
	display : block ;
	background-color : #ff9900 ;
	font-weight:bold;
	font-size:15px;
	width:120px;
	text-align:center;
	text-decoration : none ;
	padding:0;
	padding-top:3px;
	padding-bottom:4px;
	border:1px solid #ffffff;
	outline:1px solid #ff9900;
	margin-left:1px;
	color : #ffffff ;
}

.button_like:hover
{
	background-color : #6699ff ;
	outline : 1px solid #6699ff ;
}

.blog:link, .blog:visited
{
	font-family : Chiller ;
	color : brown  ;
	font-size : 40px ;
	text-decoration : none ;
}

.blog:hover
{
	text-decoration : underline ;
}

.blog:active
{
	color : #000000 ;
}

.team
{
	background-color : #c0c0c0 ;
	top : 100px ;
	border-style : groove ;
	border-width : 10px ;
	border-color : #880000 ;
}

ul.team1
{
	list-style-type : square ;
	font-size : 20px ;
}

.desc
{
	font-family : "Monotype Corsiva" ;
	font-size : 35px ;
	color : red ;
	text-align : right ;
}

#sess
{
	font-family:"Trebuchet MS", Arial,sans-serif;
	width:100%;
	border-collapse:collapse;
}

#sess td
{
font-size:20px;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;
}
#sess th 
{
border : 1px solid #98bf21 ;
font-size:25px;
text-align:left;
padding-top:5px;
padding-bottom:4px;
padding-left : 7px ;
background-color:#A7C942;
color:#ffffff;
}
.alt
{
color:#000000;
background-color:#999999;
}